section {
	background-color: #0874D9;
	border: outset 7px red;
	border-radius: 9px;
	box-shadow: 1px 1px 10px black;
	width: 90%;
	margin: auto; 
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	justify-content: center;
}

#marginFix { margin-bottom: 5%; }

p, h3, h4 { color: white; }

p { font-size: 16px; }

h4, h3 { text-shadow: 1px 1px 5px white; }

h3 { font-size: 25px; }

h4 { font-size: 20px; }

a {
	color: white;
	font-size: 25px;
}