section {
	background-color: #0874D9;
	border: outset 7px red;
	border-radius: 9px;
	box-shadow: 1px 1px 10px black;
	width: 90%;
	margin: auto; 
	padding: 2.5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
}

.secao {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

div { text-align: center; }

h4 {
	color: white;
	text-shadow: 2px 2px 3px white;
}

div img {
	width: 256px;
	height: 384px;
	border: outset 7px red;
	border-radius: 9px;
	background-image: url("../img/GreenHillBG.png");
	background-size: cover;
	box-shadow: 1px 1px 10px black;
}